* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opt-in {
  max-width: 384px;
  max-height: 384px;
  padding: 20px;
}

.opt-in p {
  margin-bottom: 8px;
}

.opt-in button {
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
}

#button-continue {
  background-color: #3f8;
  margin-right: 8px;
}

#button-continue:hover {
  border-color: #2a6;
  /* background-color: #2a6; */
}

#button-cancel:hover {
  border-color: #ccc;
}

.container {
  visibility: collapse; /* hide before opting in */
  background: linear-gradient(rgb(255, 255, 255), rgb(130, 232, 240));
  width: 384px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 32px;
}

header .greeting {
  grid-column: 1;
  display: flex;
  justify-content: center;
}

header .options {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
}

.options img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#greeting {
  font-size: 22px;
  font-weight: normal;
  color: rgb(88, 31, 31);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#icon {
  width: 80px;
  height: 80px;
}

#temperature {
  margin-top: 8px;
  font-size: 26px;
  color: #555;
}

#time {
  margin-top: 8px;
  font-size: 22px;
  color: #820;
}

#location {
  margin-top: 8px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
