* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: rgb(197, 234, 244);
  width: 384px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 32px;
}

header .greeting {
  grid-column: 1;
  display: flex;
  justify-content: center;
}

header .options {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
}

.options img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#greeting {
  font-size: 22px;
  font-weight: normal;
  color: rgb(88, 31, 31);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#icon {
  width: 80px;
  height: 80px;
}

#temperature {
  margin-top: 8px;
  font-size: 26px;
  color: #555;
}

#time {
  margin-top: 8px;
  font-size: 22px;
  color: #820;
}

#location {
  margin-top: 8px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
